# Файлы IDE и среды разработки
.idea
.vscode
.venv

# Логи и временные данные
logs
pg_data
redisdata

# Файлы Python
__pycache__
*.pyc
*.pyo
*.pyd

# Файлы окружения (лучше передавать через --env-file)
.env
.env.local

# Не нужно копировать в образ (если используются volumes)
# model.pth  # Раскомментируйте, если модель загружается отдельно
# certs/     # Раскомментируйте, если сертификаты монтируются